
:root{
    --primary-color:#002329;
    --secondary-color:#fafafa;
    --button-color:#50c878;
    --laptop-width: 992px;
}

.outer_header{
    display: flex;
    padding: 2rem;
    background-color: var(--primary-color);
}

.outer_header  .logo{
    font-size: 10rem;
    color:red;
    width: 30%;
}

.outer_header .navLinks{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer_header .navLinks li{
    list-style: none;
    display: inline-block;
    margin-left: 6rem;
}
.outer_header .navLinks li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 4.5rem;
}

.outer_header .navLinks li a:hover{
    color: var(--button-color);
    transition: all 0.3s ease;
}
.outer_header .btn{
    background-color: var(--button-color);
    border: none;
    padding: 2rem 4rem;
    border-radius: 10rem;
    cursor: pointer;
    font-size:5rem;
}
.outer_header .btn a{
    text-decoration: none;
    color: black;
}

@media  screen and (max-width:992px) {
    .outer_header .navLinks{
        display: none;
    }
}

@media screen and(max-width:1200px) { 
    .outer_header .navLinks{
        background-color: red;

    /* width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    }
   
}
