

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background: #071b24;
      color: white;
    }

    header {
      width: 100%;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      color:white;
      background: #071b24;
    }
    .menu-icon {
  display:flex;
  font-size: 26px;
  cursor: pointer;
  color: white;
}


@media (max-width: 900px) {
  nav ul {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #071b24;
    flex-direction: column;
    text-align: center;
    display: none;
    padding: 20px 0;
  }

  nav ul.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}



    .logo {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 8px;
      color: w;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    nav ul li a {
      text-decoration: none;
      color: #cfd8dc;
      font-size: 15px;
      transition: 0.3s;
    }

    nav ul li a:hover {
      color: #7CFF9B;
    }

    .btn-contact {
      background: #7CFF9B;
      color: #000;
      padding: 10px 18px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px;
    }

    .hero-text {
      max-width: 600px;
    }

    .hero-text h1 {
      font-size: 52px;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .hero-text p {
      color: #b0bec5;
      margin-bottom: 30px;
      font-size: 16px;
    }

    .hero-buttons {
      display: flex;
      gap: 15px;
    }

    .btn-green {
      background: #7CFF9B;
      color: #000;
      padding: 12px 22px;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }

    .btn-dark {
      background: #0e2a36;
      color: #fff;
      padding: 12px 22px;
      border-radius: 25px;
      border: 1px solid #1e3c49;
      cursor: pointer;
    }

    .hero-img img {
      width: 400px;
      border-radius: 20px;
      height: 40rem;

    }


    @media(max-width: 900px) {
      .hero {
        flex-direction: column;
        text-align: center;
      }

      footer {
        grid-template-columns: 1fr;
      }

      header {
        flex-direction: column;
        gap: 20px;
      }
    }
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.footer {
  background: #0f2a2d;
  color: #fff;
  padding: 50px 0 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.col {
  min-width: 200px;
}

.col-6 {
  flex: 2;
}

.col-3 {
  flex: 1;
}

.logo {
  margin-bottom: 15px;
}

p {
  color: #cfcfcf;
  line-height: 1.6;
}


.newsletter {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.newsletter input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  width: 250px;
}

.newsletter button {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  background: #6cd18b;
  cursor: pointer;
}

/* Links */
ul {
  list-style: none;
  margin-top: 10px;
}

ul li {
  color: #cfcfcf;
  margin: 8px 0;
  cursor: pointer;
}

hr {
  margin: 30px 0 15px;
  border: 0.5px solid #2e4a4d;
}

copyright {
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .newsletter {
    flex-direction: column;
  }

  .newsletter input {
    width: 100%;
  }
}
